<h1>Email Notification</h1>
<form method="POST" class="container">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
        <small>Enter the Email to get notify</small>
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" name="category" class="form-control" required>
        <small>Enter the category of item you want to get notify</small>
        <br>
        <small>Please accept the notification email</small>
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
